<head>
    <title>Bike Inventory</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body>
    <h1>DevBros</h1>
  
   
    <div id="search-container" class="text-center">
      <div class="input-group">
        <input type="text" id="make-search" placeholder="Search by make" class="search-input">
        <button id="search-button" class="search-btn">Search</button>
        <button id="clear-button" class="clear-btn">Clear</button>
      </div>
    </div>
  
    <div class="text-center">
        <select id="sort-select" class="sort-select">
          <option value="def">Default</option>
          <option value="Year">Year</option>
          <option value="Displacement">Displacement</option>
          <option value="Price">Price</option>
        </select>
    </div>
  
    <div id="view"></div>
  
    <script src="controller\main.js"></script>
  </body>