body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  #search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  #make-search {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #search-button, #clear-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bike-card {
    margin-top: 20px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #sort-select {
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 14px;
    background-color: #f1f1f1;
    text-align: center; /* added property to center the element */
    width: 30%; /* added property to set width of the element */
    margin: 0px auto; /* added property to center the element horizontally and vertically */
    position: absolute; /* added property to position the element */
     /* added property to position the element */
    left: 50%; /* added property to position the element */
    transform: translate(-40%,-40%); /* added property to position the element */
}